<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nihe_computers2.Properties.Settings.nihe_pcConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\nihe_pc.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>